body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

.form-container,
.result-container {
  width: fit-content;
  width: 900px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 900px;
  padding: 20px;
  margin: 50px auto 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  border-radius: 5px;
}

.header-container h2 {
  height: fit-content;
  margin: 0;
}

.header-container a {
  text-decoration: none;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form label {
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  background: #5cb85c;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #4cae4c;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

.index-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.index-container h1 {
  margin-bottom: 20px;
}

.index-container p {
  margin-bottom: 15px;
  font-size: 1.1em;
}

.index-container .menu {
  list-style: none;
  padding: 0;
}

.index-container .menu li {
  margin: 10px 0;
}

.index-container .menu a {
  display: inline-block;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.index-container .menu a:hover {
  background: #0056b3;
}
